body 
{
	margin: 0px;
	height: 100vh; 
	padding:0 px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ddd;
}

.text-animation
{
	padding: 20px 30px;
	background: #f5f5f5;
	font-size: 15px;
	font-family: monospace;

}
.text-animation h1
{
	white-space: nowrap;
	overflow: hidden;
	animation: typing 4s steps(12, end) forwards, blink 1s infinite;
}
@keyframes typing
{
	from {width: 0%}
	100% {width: 100%}
}
@keyframes blink
{
	0%
	{
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100%
	{
		opacity: 1;
	}
}