*{
	padding: 0;
	margin: 0;
}
body {
	background-color: #F0CB7B;
}
header{
	background-color: #DABA73;
	width: 100%;
	height: 100px;
}
/* nav bar*/

header nav ul{
	height: 50px;
	width: fit-content;
	margin: 0 auto;
}
header nav ul li{
	display: inline-block;
	width: 150px;
	float: left; 
	list-style-type: none; 
	text-align: center;
	
}
header nav ul li a{
	text-decoration: none; 
	color: white; 
	font-size: 25px;
	font-family: Optima;
	line-height: 50px;
	
}
header nav ul li a:hover{
	background-color: #DABA73;
	color: #7A673D;
}
/*index*/
.index-banner 
{
	width:100%;
	height: 100vh;
	font-family: Catamaran;
	display: table;
}
.ver-center
{
	display: table-cell;
	vertical-align: middle;
}
img
{
	width: 300px;
	border-radius: 50%;
	/*text-align: center;
	margin: 1px auto;*/
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*footer*/
footer
{
	width: calc(100%-80px);
	padding:40px 40px;
	margin-top: 20px;
	background-color:#DABA73;
}
footer ul
{
	width: fit-content;
	float:left;
	padding-left: 20px;
}
footer ul li
{
	display: block;
	list-style-type: none; 
}
footer ul li a
{
	color: white; 
	font-size: 14px;
	font-family: Optima;
	line-height: 20px;

}


.footer-links-contacts
{
	display: none;
}

.footer-media 
{
	width:60px;
	float:right;

}
.footer-media img
{
	width:100%;
	margin-bottom: 10px;

}

